Checks: >
  -*,
  boost-*,
  cert-*,-cert-err58-cpp,
  clang-analyzer-*,
  cppcoreguidelines-*,-cppcoreguidelines-special-member-functions,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-constant-array-index,
  misc-*,-misc-non-private-member-variables-in-classes,
  modernize-avoid-bind ,
  modernize-avoid-c-arrays 	 
  modernize-concat-nested-namespaces ,
  modernize-deprecated-headers ,
  modernize-deprecated-ios-base-aliases ,
  modernize-loop-convert ,
  modernize-macro-to-enum ,
  modernize-make-shared ,
  modernize-make-unique ,
  modernize-pass-by-value ,
  modernize-raw-string-literal ,
  modernize-redundant-void-arg ,
  modernize-replace-auto-ptr ,
  modernize-replace-disallow-copy-and-assign-macro ,
  modernize-replace-random-shuffle ,
  modernize-return-braced-init-list ,
  modernize-shrink-to-fit ,
  modernize-unary-static-assert ,
  # modernize-use-auto ,
  modernize-use-bool-literals ,
  modernize-use-default-member-init ,
  modernize-use-emplace ,
  modernize-use-equals-default ,
  modernize-use-equals-delete ,
  modernize-use-nodiscard ,
  modernize-use-noexcept ,
  modernize-use-nullptr ,
  modernize-use-override ,
  # modernize-use-trailing-return-type ,
  modernize-use-transparent-functors,
  modernize-use-uncaught-exceptions,
  modernize-use-using,
  performance-*,
  portability-*,
  readability-*,-readability-redundant-access-specifiers,-readability-identifier-length
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.MethodCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: 1
  - key: readability-identifier-naming.PrivateMemberIgnoredRegexp
    value: "[Uu]i"
  - key: readability-identifier-naming.NamespaceIgnoredRegexp
    value: "[Uu]i"
